@font-face {font-family: ac; src: url(../fonts/ACTexto-Medium.otf);}

main {
    background-color: white;
    /* height: 8000px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

#coopenutri {
    width: 100%;
    background: rgb(234, 234, 234);
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
#coopenutri-left {
    max-width: 600px;
    padding: 20px 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
#coopenutri-left img {   
    width: 200px;
    transition: 0.4s;
    filter: drop-shadow(1px 1px 1px black);
    margin: 24px
}

#main-btn {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    font-weight: 700;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    margin:12px 0px;
}

#main-btn a {
    color: white;
    text-decoration: none;
}

#coopenutri-left p{
    margin: 12px 0px;
    text-align: justify;
    font-family: ac;
    line-height: 28px;
    border-radius: 4px;
    /* padding: 8px; */
    color: rgb(20, 20, 20);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);

} 

#coopenutri-right {
    padding: 40px 0px;
}
#coopenutri-right img {
    width: 100px;
}

#imgreverse {
    transform: rotateY(180deg);
}










/* PARA LOJISTAS */
/* PARA LOJISTAS */
/* PARA LOJISTAS */

#para-lojistas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#para-lojistas p {
    line-height: 28px;
    font-family: 'ac';
    padding: 20px 0px;
    /* width: 300px; */
}

#para-lojistas img {
   width: 150px;
}
#para-lojistas-left {
    padding: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}


#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:rgb(46, 46, 46);
    margin-top: 24px;
}
#cards i {
    font-size: 40px;
    margin: 12px;
}
#cards h1 {
    font-family: 'Roboto';
    font-size: 24px;

}
.card {
    width: 300px;
    /* height: 300px; */
    /* background-color: rgba(180, 180, 180, 0.2); */
    /* border-radius: 8px; */
    padding: 12px;
    /* border: 1px solid grey; */
    margin: 12px;
    backdrop-filter: blur(3px);
}













#para-fabricantes {
    display: flex;
    /* overflow: hidden; */
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    background: rgb(234, 234, 234);
}

#para-fabricantes i {
    font-size: 44px;
    color: rgb(23, 23, 23);
}

#para-fabricantes-left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 600px;



    
}
#para-fabricantes-right {
    display: flex;
    padding: 24px;
    flex-wrap: nowrap;

}
#para-fabricantes-right img {
    width: 80px;
    margin: 0px 20px
}
#para-fabricantes p {
    line-height: 28px;
    padding: 12px;
    font-family: 'ac';
}


#baixe-o-app {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    text-align: center;
    padding: 32px;
    /* overflow: hidden; */
}




#baixe-o-app-imgs img {

}



#baixe-o-app-imgs img {
    width: 150px;
}